name: Android CI

on:
  push:
    branches: [ master-disabled ]
  pull_request:
    branches: [ master-disabled ]
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    name: Build Android
    runs-on: ubuntu-latest

    env:
      NDK_VERSION: 21.1.6352462

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Create NDK folder
      run: |
        sudo mkdir -p ${ANDROID_HOME}/ndk
        sudo chmod -R a+rwx ${ANDROID_HOME}/ndk
        sudo chown -R $USER:$USER ${ANDROID_HOME}/ndk

    - name: Export environments
      run: |
        echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV

    - name: Install NDK
      run: |
        echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;${NDK_VERSION}" | grep -v = || true

    - name: Build
      working-directory: android/app
      run: ./gradlew assembleLocalDebug
