name: Android CI

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      NDK_VERSION: 21.0.6113669

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Install JDK
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Create NDK folder
      run: |
        sudo mkdir -p ${ANDROID_HOME}/ndk
        sudo chmod -R a+rwx ${ANDROID_HOME}/ndk
        sudo chown -R $USER:$USER ${ANDROID_HOME}/ndk

    - name: Export environments
      run: |
        echo "ANDROID_HOME=$ANDROID_HOME" >> $GITHUB_ENV

    - name: NDK Cache
      id: ndk-cache
      uses: actions/cache@v2
      with:
        path: ${{env.ANDROID_HOME}}/ndk
        key: ndk-cache-${{env.NDK_VERSION}}

    - name: Install NDK
      if: steps.ndk-cache.outputs.cache-hit != 'true'
      run: |
        echo "y" | sudo ${ANDROID_HOME}/tools/bin/sdkmanager --install "ndk;${NDK_VERSION}" | grep -v = || true

    - name: Build
      working-directory: android/app
      run: ./gradlew assembleLocalDebug
