name: iOS CI

on:
  push:
    branches: [ develop-disabled ]
  pull_request:
    branches: [ develop-disabled ]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: CocoaPods
        working-directory: ios
        run: pod install

      - name: Build
        working-directory: ios
        env:
          scheme: Inspector
          platform: iOS Simulator
          device: iPhone 8
          workspace: Inspector.xcworkspace
        run: |
          xcodebuild build -scheme "$scheme" -workspace "$workspace" -destination "platform=$platform,name=$device"
