name: iOS CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  build:
    if: github.event_name != 'pull_request' || github.event.pull_request.draft == false
    name: Build iOS
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: CocoaPods
        working-directory: ios
        run: pod install

      - name: Build
        working-directory: ios
        env:
          scheme: Inspector
          platform: iOS Simulator
          device: iPhone 17
          workspace: Inspector.xcworkspace
        run: |
          xcodebuild build \
          -scheme "$scheme" -workspace "$workspace" \
          -destination "platform=$platform,name=$device" \
          COMPILER_INDEX_STORE_ENABLE=NO CODE_SIGNING_ALLOWED=NO
