name: Unit Tests

on:
  push:
    branches: [ develop-disable ]
  pull_request:
    branches: [ develop-disable ]

env:
  CXX: clang++

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Linux dependencies
        run: |
          sudo apt update -y
          sudo apt install -y libsqlcipher-dev

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE/cpp

      - name: Build
        working-directory: ${{runner.workspace}}/build
        run: make

      - name: Test
        working-directory: ${{runner.workspace}}/build
        run: make test
