name: Unit Tests

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Linux dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libsqlcipher-dev llvm

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE/cpp

      - name: Build
        working-directory: ${{runner.workspace}}/build
        run: make

      - name: Test
        working-directory: ${{runner.workspace}}/build
        run: make test

      - name: Upload Coverage
        working-directory: ${{runner.workspace}}/build
        run: |
          bash <(curl -s https://codecov.io/bash)
