name: Unit Tests

on:
  push:
    branches: [ develop-disabled ]
  pull_request:
    branches: [ develop-disabled ]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Linux dependencies
        run: |
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          echo 'deb http://apt.llvm.org/focal/ llvm-toolchain-focal main' | sudo tee -a /etc/apt/sources.list.d/llvm.list
          sudo add-apt-repository ppa:linuxgndu/sqlcipher -y

          sudo apt-get update -y
          sudo apt-get install -y libsqlcipher-dev llvm clang

      - name: Create Build Environment
        run: cmake -E make_directory build

      - name: Configure CMake
        working-directory: build
        run: cmake ../cpp

      - name: Build
        working-directory: build
        run: make

      - name: Test
        working-directory: build
        run: make test

      - name: Generate Coverage
        env:
          ignored: "(tests/.*|src/libs/.*)$"
        run: |
          llvm-profdata merge -sparse build/default.profraw -o build/default.profdata
          llvm-cov show -instr-profile=build/default.profdata build/inspector-tests \
          -ignore-filename-regex="${ignored}" > coverage.txt

      - name: Upload Coverage
        run: |
          bash <(curl -s https://codecov.io/bash) -X gcov -Z
