name: Unit Tests

on: [push]

env:
  CXX: clang++

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update -y
          sudo apt install -y libsqlcipher-dev

      - name: Install MacOS dependencies
        if: matrix.os == 'macos-latest'
        run: brew install sqlcipher

      - name: Create Build Environment
        run: cmake -E make_directory ${{runner.workspace}}/build

      - name: Configure CMake
        working-directory: ${{runner.workspace}}/build
        run: cmake $GITHUB_WORKSPACE/cpp

      - name: Build
        working-directory: ${{runner.workspace}}/build
        run: make

      - name: Test
        working-directory: ${{runner.workspace}}/build
        run: make test
